<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549983544337-tl4v978pespc1nj17lkuakkck3sdvf83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549983544337-tl4v978pespc1nj17lkuakkck3sdvf83</string>
	<key>API_KEY</key>
	<string>AIzaSyAt2u6abEP1RBcrjM-VgMoxXzYiogMG7b4</string>
	<key>GCM_SENDER_ID</key>
	<string>549983544337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eleven11.laundryDeliveryDriver</string>
	<key>PROJECT_ID</key>
	<string>mywashapp-2b43a</string>
	<key>STORAGE_BUCKET</key>
	<string>mywashapp-2b43a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549983544337:ios:bb7afb6d5bbc02ab847db0</string>
</dict>
</plist>